<div ng-controller="participantCtrl">
<ul class="os-key-values os-two-cols" os-inline-editors on-save="editCpr">
  <li class="item">
    <strong class="key key-sm" translate="participant.ppid">ASIG ID</strong>
    <os-inline-edit editor="ppidEditor" name="ppid" class="value value-md" value="cpr.ppid">
      <span ng-if="ppidEditor.isDisplayMode()">{{ppidEditor.viewValue | osNoValue}}</span>
      <input ng-if="ppidEditor.isEditMode()" type="text" ng-model="ppidEditor.editValue" class="form-control" 
        required placeholder="palce">
    </os-inline-edit>
  </li>
  
  <li class="item">
    <strong class="key key-sm" translate="participant.vital_status">Status in Research</strong>
    <os-inline-edit editor="vsEditor" name="vitalStatus" class="value value-md" value="cpr.participant.vitalStatus">
      <span ng-if="vsEditor.isDisplayMode()">{{vsEditor.viewValue | osNoValue}}</span>
      <div ng-if="vsEditor.isEditMode()">
        <os-select ng-model="vsEditor.editValue" list="vitalStatuses"></os-select>
      </div>
    </os-inline-edit>
  </li>
  
  <li class="item">
    <strong class="key key-sm" translate="participant.death_date">Last Contact Date</strong>
    <os-inline-edit editor="ddEditor" name="deathDate" class="value value-md" value="cpr.participant.deathDate">
      <span ng-if="ddEditor.isDisplayMode()">{{ddEditor.viewValue | date: global.dateFmt | osNoValue}}</span>
      <os-date-picker ng-if="ddEditor.isEditMode()" date="rdEditor.editValue">
      </os-date-picker>
    </os-inline-edit>
  </li>
  
  <li class="item">
    <strong class="key key-sm" translate="participant.pmis">Sites</strong>
    <span class="value value-md" os-inline-edit>{{sites | osArrayJoin | osNoValue}}</span>
  </li>
  
  <li class="item" ng-repeat="consent in consentTierResponses">
    <strong class="key key-sm">{{consent.statement}}</strong>
    <span class="value value-md">{{consent.response | osNoValue}}</span>
  </li>
</ul>
</div>
