<div show-if-allowed="participantResource.readOpts" ng-controller="unswIdentifiedSprCtrl">

  <ul class="os-key-values os-one-col">
    <li class="item">
      <strong class="key key-sm" translate="visits.identified_spr">Identified Surgical Pathology Report</strong>
      <div class="value value-md" ng-if="!uploadMode">
        <div class="pull-left" ng-switch on="!!identifiedSprName">
          <a ng-href="{{identifiedSprUrl}}" target="_blank" ng-switch-when="true">{{identifiedSprName}}</a>
          <span ng-switch-when="false" translate="common.not_specified">Not Specified</span>
        </div>
        <div show-if-allowed="participantResource.updateOpts" class="col-xs-2" ng-switch on="!!identifiedSprName">
          <div class="btn btn-default btn-xs" ng-switch-when="false" ng-click="showUploadMode()">
            <span class="fa fa-wrench"></span>
          </div>

          <div class="btn-group" ng-switch-when="true">
            <div class="btn btn-default btn-xs" ng-click="showUploadMode()">
              <span class="fa fa-pencil"></span>
            </div>
            <div class="btn btn-default btn-xs" ng-click="confirmDeleteSpr()">
              <span class="fa fa-trash"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="value value-md" ng-if="uploadMode">
        <form action="{{sprUploadUrl}}" class="form-inline">
          <div class="form-group">
            <div os-file-upload ctrl="sprUploader.ctrl">
            </div>
          </div>
          <div class="form-group clearfix">
            <div class="col-xs-6">
              <button type="button" class="btn btn-success" ng-click="upload()" translate="common.buttons.upload">
                Upload
              </button>
              <a class="btn os-btn-text-secondary" ng-click="cancel()" translate="common.buttons.cancel">
                Cancel
              </a>
            </div>
          </div>
        </form>
      </div>
    </li>
  </ul>
</div>


