<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-spacing:0;border-collapse:separate">
  <tbody>
    <tr>
      <td style="border-collapse:collapse;">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-collapse:collapse;font-family:Arial,sans-serif;font-size:14px;line-height:20px">
          <tbody>
            <tr>
              <td style="padding:0px;border-collapse:collapse;padding:0px;padding-bottom:10px">
                <p style="margin:10px 0 0 0">
                  Hello All,
                  <br><br>
                  A specimen is collected whose sample quality is not acceptable. Find the specimen summary below:
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                    Collection Site: <b>$site</b>
                    <br>
                    Sample Type: <b>$type</b>
                    <br>
                    Participant ID: <b>$cprId</b>
                    <br>
                    Sample ID: <b>$id</b>
                    <br>
                    Sample Quality: <b>$quality</b>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="height:5px;line-height:5px;">&nbsp;</td>
    </tr>
    <tr>
      <td>
        #parse( $footer )
      </td>
    <tr>
  </tbody>
</table>
