
<div class="panel panel-default" ng-controller="mskSpecimenInfoCtrl">
  <div class="panel-heading">
    <span class="panel-title" translate="msk.accession_info.title">Accession Info</span>
    <span class="os-btns">
      <a class="os-btn-text" ng-click="opts.showInfo=!opts.showInfo">
        <span class="fa fa-times-circle"></span>
      </a>
    </span>
  </div>
  <div class="panel-body">
    <div class="os-section">
      <span ng-if="info.parts.length == 0">
        <span ng-if="!!info.desc"><pre>{{info.desc}}</pre></span>
        <span translate="msk.accession_info.not_available">Not Available</span>
      </span>

      <table class="os-table" ng-if="info.parts.length > 0">
        <thead class="os-table-head">
          <tr class="row">
            <th class="col col-xs-2" translate="msk.accession_info.no">No.</th>
            <th class="col" translate="msk.accession_info.description">Description</th>
          </tr>
        </thead>
        <tbody class="os-table-body">
          <tr class="row" ng-repeat="part in info.parts">
            <td class="col">{{part.num}}</td>
            <td class="col">{{part.desc}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
